@charset "UTF-8";
@import 'mixin';
@import 'mq';
@import 'keyframe';

// google webfonts : s
// @import url('https://fonts.googleapis.com/css?family=Aldrich|Roboto+Condensed|Jura');
// @import url('https://fonts.googleapis.com/css?family=Aldrich|Jura|Averia+Serif+Libre|Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Jura|Merriweather+Sans');
// font-family: 'Aldrich', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Averia Serif Libre', cursive;
// font-family: 'Fredericka the Great', cursive;
// font-family: 'Merriweather Sans', sans-serif;
// google webfonts : e

@font-face {
  font-family: AritaDotum;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arita/Arita-Dotum-Medium.eot");
  src: url("../fonts/arita/Arita-Dotum-Medium.eot?#iefix") format("embedded-opentype"),url(../fonts/arita/Arita-Dotum-Medium.woff) format("woff"),url(../fonts/arita/Arita-Dotum-Medium.ttf) format("truetype");
}
@font-face {
  font-family: 'jewelry';
  src:  url('../fonts/jewelry/jewelry.eot?x34cud');
  src:  url('../fonts/jewelry/jewelry.eot?x34cud#iefix') format('embedded-opentype'),
  url('../fonts/jewelry/jewelry.ttf?x34cud') format('truetype'),
  url('../fonts/jewelry/jewelry.woff?x34cud') format('woff'),
  url('../fonts/jewelry/jewelry.svg?x34cud#jewelry') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="jewel"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jewelry' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jewel-bracelet:before {
  content: "\e900";
}
.jewel-earring:before {
  content: "\e901";
}
.jewel-necklace:before {
  content: "\e902";
}
.jewel-ring:before {
  content: "\e903";
}

//Start
* {
  outline:0;
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
html, body, ul, ol, li, dl, dt, dd, a, h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  text-decoration:none;
  list-style: none;
  color:inherit;
}

html {
  font-size:16px;
  height:100%;
}
body {
  font-family: AritaDotum, "나눔고딕", "NanumGothic", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", AppleSDGothicNeo, Ngothic, Dotum, "돋움", Helvetica, sans-serif;
  font-size:1em;
  color:#000;
  overflow:hidden;
  line-height:1.7;
  height:100%;
  overflow-y:scroll;
  background:#353535;
  font-weight:300;
}
.unselectable, .unselectable * { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.hidden {
  // visibility: hidden;
  // @include opacity(0);
  // width:0;
  display:none;
}

.inner {
  max-width:1100px;
  margin:0 auto;
}

.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120px;
  padding-top:20px;
  padding-left: 3%;
  padding-right: 3%;
  z-index:100;
  @include opacity(1);
  -webkit-transition: all 0.3s cubic-bezier(0.24, 0.22, 0.015, 1.56), opacity 0.15s ease-in-out;
  transition: all 0.3s cubic-bezier(0.24, 0.22, 0.015, 1.56), opacity 0.15s ease-in-out;
  &.active {
    background:#2f2f2f;
    color:#484c4e;
    box-shadow: 0 6px 42px rgba(0,0,0,0.49);
    @include opacity(.9);
    &:hover {
      @include opacity(1);
    }
  }
}
.mobile_opener {
  position:fixed;
  top:40px;
  right:30px;
  background:#fff;
  width:40px;
  height:40px;
  color:#292828;
  z-index:99;
  border-radius:4px;
  box-shadow: 0 6px 42px rgba(0,0,0,0.49);
  display:none;
  & i {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font-size:25px;
  }
}
.mobile_closer {
  position:absolute;
  top:40px;
  right:30px;
  background:#fff;
  width:40px;
  height:40px;
  color:#292828;
  z-index:99;
  border-radius:4px;
  box-shadow: 0 6px 42px rgba(0,0,0,0.49);
  display:none;
  & i {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font-size:25px;
  }
}
@include keyframes(_logoSwing) {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.logo {
  display:inline-block;
  float:left;
  height:80px;
  text-align:center;
  padding:15px;
  margin-right:30px;
  color:#fff;
}
.logo_inner {
  width: 100%;
  height: 50px;
  display: inline-block;
  & > span {
    position:relative;
    width:100%;
    & img {
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
    }
  }
}
.logo_top {
  height:20px;
  float:left;
  & img {
    width:90%;
    margin-top: 2px;
  }
}
.logo_bottom {
  height:30px;
  float:left;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  @include animation('_logoSwing .7s cubic-bezier(.63,.09,.75,.46)  infinite alternate');
  & img {
    width:100%;
  }
}
.gnb_btn.home i {
  display:none;
}
.gnb_product {
  position:relative;
  display:inline-block;
  float:left;
  &.on {
    & .gnb_btn {
      background:#2c2c2c;
      border-radius:10px 10px 0 0;
      color:#fff;
    }
  }
}
.gnb_btn {
  display:inline-block;
  float:left;
  padding:20px;
  line-height:40px;
  background:transparent;
  border:none;
  color:#adb7be;
  font-size:14px;
  border-radius:10px;
  &:hover {
    color:#fff;
  }
  &::before, &::after {
    display:none;
  }
  // &::before {
  //   content:'';
  //   position:absolute;
  //   bottom:0;
  //   left:100%;
  //   width:10px;
  //   height:10px;
  //   background:#2c2c2c;
  // }
  // &::after {
  //   content:'';
  //   position:absolute;
  //   bottom:0;
  //   left:100%;
  //   width:10px;
  //   height:10px;
  //   border-radius:0 0 0 10px;
  //   background:#353535;
  // }
  & i {
    margin-left:5px;
    font-size:10px;
  }
}
.gnb_product {
  &.on {
    & .list_product {
      // pointer-events: auto;
      // @include opacity(1);
      // -webkit-transform: scale(1) translateY(0);
      // transform: scale(1) translateY(0);
      // z-index:1;
      display:block;
    }
    & .gnb_btn {
      &::before, &::after {
        display:block;
      }
    }
  }
}
.list_product {
  position:absolute;
  top:80px;
  left:0;
  width:300px;
  display:inline-block;
  background:#2c2c2c;
  padding:20px;
  border-radius:0 10px 10px 10px;
  color:#adb7be;
  // pointer-events: none;
  // @include opacity(0);
  // -webkit-transform: scale(0.85) translateY(-10%);
  // transform: scale(0.85) translateY(-10%);
  // -webkit-transition: all 0.25s cubic-bezier(0.24, 0.22, 0.015, 1.56), opacity 0.1s ease-in-out;
  // transition: all 0.25s cubic-bezier(0.24, 0.22, 0.015, 1.56), opacity 0.1s ease-in-out;
  // -webkit-transform-origin: 50% 50%;
  // transform-origin: 50% 50%;
  // z-index:-1;
  display:none;
  & li {
    position:relative;
    width:100%;
    line-height:40px;
    & a {
      display:inline-block;
      width:100%;
      color:#8495a0;
    }
    & i {
      display:inline-block;
      width:16px;
      font-size:16px;
      text-align:center;
      color:#5C5C5C;
      margin-right:20px;
    }
    & .count {
      position:absolute;
      font-family: 'jura', sans-serif;
      font-size:10px;
      color:#5b5b5b;
      top:50%;
      right:0;
      -webkit-transform:translate(0,-50%);
      transform:translate(0,-50%);
    }
  }
}
.search_btn {
  & i {
    font-size:16px;
    color:#fff;
  }
}

.mall_ui {
  float:right;
  padding: 20px 0;
  font-size:14px;
  & > div {
    float:left;
    & a {
      display:inline-block;
      line-height: 40px;
      color:#fff;
      padding:0 20px;
    }
  }
}
.cart {
  font-size:16px;
  & i {
    position:relative;
  }
}
.cart_count {
  position:absolute;
  top:-80%;
  right:-80%;
  display: inline-block;
  min-width:18px;
  height:18px;
  line-height:18px;
  border-radius:9px;
  // background:#2c2c2c;
  background:#3598dc;
  font-size:12px;
  font-family: 'jura', sans-serif;
  text-align:center;
  padding:0 3px;
}
.btn_join, .btn_login {
  height:40px;
  border-radius:4px;
  font-size:14px;

}
.btn_join {
  background:#1abc9c;
  margin-left:20px;
}
.btn_login {
  background:#3598dc;
  margin-left:20px;
}


//검색
body.mode-search .search {
  @include opacity(1);
  pointer-events: auto;
  // -webkit-transform:scale(1, 1);
  // transform:scale(1, 1);
}
.search {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:100;
  padding:20px;
  pointer-events: none;
  @include opacity(0);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  // -webkit-transform:scale(0.8, 0.8);
  // transform:scale(0.8, 0.8);
}
.search_inner {
  position:relative;
  display:inline-block;
  width:100%;
  height:100%;
  // background:#212121;
  background:rgba(33, 33, 33, 0.95);
  padding:20px;
}
.close_search {
  position:absolute;
  top:20px;
  right:20px;
  width:50px;
  height:50px;
  line-height:50px;
  font-size:30px;
  color:#fff;
  background:transparent;
  border:none;
}
.search_box {
  display: table;
  width:100%;
  height:100%;
}
.search_box_inner {
  display:table-cell;
  vertical-align: middle;

}
.search_content {
  max-width: 450px;
  margin: 0 auto;
}
body.mode-search .search_label {
  @include opacity(1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.search_label {
  position:relative;
  display:inline-block;
  margin-bottom:50px;

  @include opacity(0);
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  & input#search {
    background:transparent;
    border:none;
    font-size:40px;
    width:100%;
    border-bottom:1px solid #474747;
    color:#fff;
    padding:5px 0;
    padding-right:35px;
  }
}
.label_text {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  text-align:center;
  color:#949494;
  -webkit-transition: all .5s cubic-bezier(0.24, 0.22, 0.015, 1.56);
  transition: all .5s cubic-bezier(0.24, 0.22, 0.015, 1.56);
  white-space: nowrap;
}
.search_submit {
  position:absolute;
  top:50%;
  right:0;
  -webkit-transform:translate(100%,-50%);
  transform:translate(100%,-50%);
  background:transparent;
  border:none;
  color:#fff;
  font-size:20px;
  @include opacity(0);
  pointer-events: none;
  -webkit-transition: transform .5s cubic-bezier(0.694, 0, 0.335, 1), opacity .8s;
  -webkit-transition: opacity .8s, -webkit-transform .5s cubic-bezier(0.694, 0, 0.335, 1);
  transition: opacity .8s, -webkit-transform .5s cubic-bezier(0.694, 0, 0.335, 1);
  transition: transform .5s cubic-bezier(0.694, 0, 0.335, 1), opacity .8s;
  transition: transform .5s cubic-bezier(0.694, 0, 0.335, 1), opacity .8s, -webkit-transform .5s cubic-bezier(0.694, 0, 0.335, 1);
}
input#search:focus ~ .label_text, input#search.focus ~ .label_text {
  left:0;
  -webkit-transform:translate(0,150%);
  transform:translate(0,150%);
  // color:#474747;
}
input#search.filled ~ .search_submit {
  @include opacity(1);
  pointer-events: auto;
  -webkit-transform:translate(0,-50%);
  transform:translate(0,-50%);
}

//커버 이미지
.loaded {
  & .top_cover {
    // background:#232323;
    background:#292828;
  }
  & .cover {
    -webkit-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-filter: grayscale(100%) brightness(50%);
    filter: grayscale(100%) brightness(50%);
    background-size:cover;
    opacity: .2;
  }
}
.top_cover {
  position:relative;
  height:400px;
  background:#000;
  -webkit-transition:opacity 1.5s cubic-bezier(.694,0,.335,1),transform 2.5s ease-out, background 2.5s ease-out;;
  -webkit-transition:opacity 1.5s cubic-bezier(.694,0,.335,1),background 2.5s ease-out,-webkit-transform 2.5s ease-out;;
  transition:opacity 1.5s cubic-bezier(.694,0,.335,1),background 2.5s ease-out,-webkit-transform 2.5s ease-out;;
  transition:opacity 1.5s cubic-bezier(.694,0,.335,1),transform 2.5s ease-out, background 2.5s ease-out;;
  transition:opacity 1.5s cubic-bezier(.694,0,.335,1),transform 2.5s ease-out, background 2.5s ease-out,-webkit-transform 2.5s ease-out;;
  overflow:hidden;
}
.cover {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  opacity:0;
  background:#000;
  -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);
  -webkit-transition:opacity 1.5s cubic-bezier(.694,0,.335,1),transform 2.5s ease-out, background 2.5s ease-out;;
  -webkit-transition:opacity 1.5s cubic-bezier(.694,0,.335,1),background 2.5s ease-out,-webkit-transform 2.5s ease-out;;
  transition:opacity 1.5s cubic-bezier(.694,0,.335,1),background 2.5s ease-out,-webkit-transform 2.5s ease-out;;
  transition:opacity 1.5s cubic-bezier(.694,0,.335,1),transform 2.5s ease-out, background 2.5s ease-out;;
  transition:opacity 1.5s cubic-bezier(.694,0,.335,1),transform 2.5s ease-out, background 2.5s ease-out,-webkit-transform 2.5s ease-out;;
}
.cover_desc {
  display:table;
  width:100%;
  height:100%;
  padding-top:80px;
}
.cover_desc_inner {
  position:relative;
  display:table-cell;
  vertical-align: middle;
  text-align:center;
  z-index:1;
  & .heading {
    color:#fff;
    font-size:30px;
    letter-spacing:2.5px;
  }
  & .small {
    color:#adb7be;
    font-size:15px;
    letter-spacing:1px;
  }
}
.btn_area {
  margin-top:20px;
}
.btn_cover {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  background: #9c28b1;
  border:none;
}
.section_title {
  font-size:40px;
  color:#adb7be;
  padding:0 20px;
  margin-top:5%;
  margin-bottom:2%;
  letter-spacing:2px;
}
section {
  float:left;
}
.intro {
  background: #484848;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  float: left;
  & h4 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1;
  }
  & pre {
    float: left;
    width: 100%;
    font-size: 15px;
    overflow: hidden;
  }
  & code {
    display:inline-block;
    width:100%;
    background:#353535;
    padding:20px;
    border-radius:4px;
    margin-top:10px;
  }
}
.intro_item {
  float:left;
  width:100%;
}
.intro_item + .intro_item {
  margin-top:20px;
}
.intro_desc {
  font-size: 15px;
  padding: 20px;
  float: left;
  width: 100%;
  & li {
    float:left;
    width:100%;
    & + li {
      margin-top:10px;
    }
  }
}
.options {
  background:#484848;
  padding:20px;
  border-radius:4px;
  color:#fff;
  float:left;
  font-weight:300;
  & h4 {
    font-size:30px;
    font-weight:300;
  }
  & li {
    float:left;
    width:50%;
    height:240px;
    padding:20px;
  }
  & p {
    font-size:15px;
  }
}
section {
  font-weight:300;
}
.option_content {
  background: #353535;
  padding: 3px 5px;
  border-radius: 2px;
}
.option_desc {
  display:block;
  font-size:14px;
  margin-top:5px;
}

//상품 리스트
.list_pd {
  & li {
    width:100%;
    padding:20px;
    float:left;
    background: #484848;
    border-radius:4px;
    & + li {
      margin-top:20px;
    }
  }
}
.pd_item {
  width:30%;
  float:left;
  overflow:hidden;
  &:hover {
    & .pd_image {
      -webkit-transform:scale(1,1);
      transform:scale(1,1);
    }
    & .pd_overlay {
      @include opacity(1);
    }
  }
}
.pd_thumb {
  position:relative;
  float:left;
  width:100%;
  padding-top:69.536423%;
  // padding-top:21%;
  border-radius:4px;
  overflow:hidden;
}
.description {
  float:left;
  width:70%;
  padding-left:20px;
  & pre {
    float:left;
    width:100%;
    font-size:15px;
    overflow:hidden;
    margin-top:20px;
  }
  & code {
    float:left;
    width:100%;
    padding:20px;
    border-radius: 4px;
  }
}
.desc_top {
  float:left;
  width:100%;
  background:#fff;
  padding:20px;
  border-radius:4px;
  font-size:15px;
}
.description code {
  background:#353535;
}
.reload {
  border: none;
  background: #3598dc;
  color: #fff;
  padding: 0px 10px;
  border-radius: 4px;
  margin-left: 5px;
}
.option_strong {
  background: #353535;
  padding: 3px 5px;
  border-radius: 2px;
  color:#fff;
  display:inline-block;
  margin-bottom:5px;
}
.pd_image {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);
  -webkit-transition: transform .5s;
  transition: transform .5s;
  & img {
    display:none;
  }
}
.pd_announce {
  position:absolute;
  top:10px;
  right:10px;
  z-index:2;
  line-height:1;
  & > span {
    display:inline-block;
    border-radius:4px;
    background:#34495e;
    color:#fff;
    line-height:20px;
    padding:0 5px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size:10px;
    letter-spacing:1px;
    &.soldout {
      background:#e64c3c;
    }
  }
}
.pd_overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
  background:rgba(0,0,0,0.7);
  @include opacity(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.pd_overlay_inner {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  display: inline-block;
  width:90px;

  & .btn_util {
    + .btn_util {
      margin-left:10px;
    }
  }
  & a {
    display:inline-block;
    background:#fff;
    line-height:40px;
    text-align:center;
    font-size:16px;
    border-radius:4px;
    float:left;
    -webkit-transition:all .3s;
    transition:all .3s;
    &:hover {
      color:#fff;
      background:#3598dc;
    }
  }
}

.btn_util {
    width:40px;
}
.btn_show {
    width:90px;
    margin-top:10px;
}

.pd_info {
  width:100%;
  padding-top:10px;
  float:left;
}
.pd_info_top {
  position:relative;
  float:left;
  width:100%;
  line-height:21px;
}
.pd_title {
  width:100%;
  padding-right:80px;
  color:#fff;
  font-weight:normal;
  font-size:16px;
  float:left;
}
.pd_price {
  position:absolute;
  right:0;
  font-family: 'Merriweather Sans', sans-serif;
  display:inline-block;
  max-width:80px;
  padding:0 5px;
  background:#2A2A2A;
  border-radius:4px;
  color:#3598dc;
  font-size:12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
.currency {
  font-size:10px;
  margin-right:3px;
}
.pd_info_bottom {
  width:100%;
  float:left;
  font-size:14px;
  line-height:20px;
  margin-top:5px;
}
.id_icon {
  display:inline-block;
  margin-right:10px;
  float:left;
  width:20px;
  height:20px;
  & i {
    display:inline-block;
    position: relative;
    font-size:12px;
    width:100%;
    height:100%;
    border-radius:4px;
    background:#1abc9c;
    text-align:center;
    color:#fff;
    &::before {
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
    }
    &.jewel-necklace {
    background:#9c28b1;
    }
    &.jewel-earring {
    background:#3f51b5;
    }
    &.jewel-ring {
    background:#8bc24a;
    }
    &.jewel-bracelet {
    background:#fe5720;
    }
  }
}
.pd_category {
  line-height:20px;
  color:#949494;
  float:left;
  & a {
    font-weight:600;
    &:hover {
      color:#3598dc;
    }
  }
}
.intro pre, .intro pre *, .intro code, .intro code * {
  // width:250px;
  font-size:12px;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}
.copyright {
  font-weight:300;
  line-height:1.5;
  font-size:13px;
  color:#adb7be;
}
.code_title {
  background: #353535;
  padding: 3px 5px;
  border-radius: 2px;
}
.xxx {
  position:fixed;
  display:inline-block;
  width:50px;
  height:50px;
  bottom:50px;
  right:50px;
  z-index:9000;
  &::before {
    display:inline-block;
    bottom:60px;
    padding:20px;
    z-index:9999;
    color:black;
  }
}
@include mq($from: desktop, $until: wide) {
}
@include mq($until: wide) {
    .xxx {background: red}
    .xxx::before {content:"wide"; position:relative; bottom:100px; background:#fff; display:inline-block;}
}
@include mq($until: desktop) {
    .xxx {background: blue}
    .xxx::before {content:"desktop"; position:relative; bottom:100px; background:#fff; display:inline-block;}

    .header {
      top:0;
      bottom:0;
      right:0;
      left:auto;
      width:300px;
      height:100%;
      background:#2f2f2f;
      box-shadow: 0 6px 42px rgba(0,0,0,0.49);
      padding-left: 10px;
      padding-right: 10px;
      -webkit-transform:translateX(100%);
      transform:translateX(100%);
      &.opened {
        -webkit-transform:translateX(0);
        transform:translateX(0);
      }
      &.active {
        @include opacity(1);
      }
    }
    .cover_desc {
      padding-top:0;
    }
    .logo {
      width:100%;
      margin:0;
      margin-bottom:30px;
      background:#292828;
      border-radius:4px;
      padding-right: 80px;
      font-size: 25px;
      line-height: 50px;
    }
    .gnb_btn {
      width:100%;
      padding:0 20px;
      line-height:40px;
      font-size:20px;
    }
    button.gnb_btn {
      display:none;
    }
    .list_product {
      position:static;
      display:block;
      padding:0 20px;
      background: transparent;
      & li a {
        font-size:20px;
      }
    }
    .download {
      display:none;
    }
    .gnb_btn i {
      margin-left:0;
    }
    .gnb_btn.home i {
      display: inline-block;
      width: 16px;
      font-size: 16px;
      text-align: center;
      color: #5C5C5C;
      margin-right: 20px;
    }
    .mall_ui {
      position:absolute;
      top:100%;
      right:0;
      width:100%;
      -webkit-transform:translateY(-100%);
      transform:translateY(-100%);
    }
    .mall_ui>div {
      float: none;
      margin: 0 auto;
      width:150px;
      text-align:center;
    }
    .mobile_opener, .mobile_closer {
      display:block;
    }
    .options li {
      width:100%;
      height:auto;
    }
    .inner, .cover_desc_box {
      width:94%;
      margin:0 auto;
    }
    .top_cover {
      height:300px;
    }
    .section_title {
      font-size:30px;
    }
    .intro h4 {
      font-size:20px;
    }
    .sourcecode {
      display:none;
    }

}
@include mq($until: tablet) {
    .xxx {background: green}
    .xxx::before {content:"tablet"; position:relative; bottom:100px; background:#fff; display:inline-block;}
    .pd_item {
      width:100%;
    }
    .description {
      width:100%;
      padding:0;
      margin-top:20px;
    }
    .list_pd li {
      padding:3%;
    }
    .options {
      padding:0;
    }
    .options li {
      padding:3%;
    }
    .intro {
      padding:3%;
    }
    .intro_desc {
      padding:3%;
    }
    .section_title {
      padding: 0 3%;
    }
    .intro code, .description code, .desc_top {
      padding:3%;
    }
    .intro_desc li {
      overflow:hidden;
    }
}
@include mq($until: mobile) {
    .xxx {background: yellow}
    .xxx::before {content:"mobile"; position:relative; bottom:100px; background:#fff; display:inline-block;}
    .intro code {
      width:250px;
    }
}
